@use "../../../colors.scss" as colors;

@mixin filter($distance) {
	filter: drop-shadow($distance $distance 0px colors.$main);
}

img{
	height: 3rem;
}

.center{
	text-align: center;
	overflow: hidden;
}

.large{
	height: 6rem !important;
}

.card {
	color: colors.$main;
	border-radius: 0.4rem;
	border: solid;
	border-width: 0.2rem;
	padding: 1rem;
	background-color: white;
	transform: translate(0px, 0px);
	transition:
		transform 100ms linear,
		filter 100ms linear;
	@include filter(10px);
}
// Possible tooltip solution
// [data-tooltip]:hover::after,
// [data-tooltip]:focus::after
//  {
// 	color: black;
//   display: block;
//   position: absolute;
//   content: attr(data-tooltip);
//   border: 1px solid black;
//   background: #eee;
//   padding: .25em;
// 	z-index: 99999;
// }

a{
  text-decoration: none;
}

.card:hover,
.card:focus,
.card:active {
	transform: translate(-5px, -5px);
	@include filter(15px);
}

.text{
	color:black;
}