@mixin initialize {
  // tr:not(:last-child) {
  tr {
    border-top: 1px solid #aaaa;
    border-bottom: 1px solid #aaaa;
  }

  table {
    text-align: left;
    border-collapse: collapse;
    max-width: 500px;
  }

  caption {
    visibility: hidden;
  }
}
