<h2>Skills</h2>
<ul>
  <li>
    <span class="bold">
      Frontend:
    </span>
    Angular expert, TypeScript/ECMAScript poet, CSS wizard, accessibility-first thinker, npm lover, website
    performance aficionado
  </li>
  <li>
    <span class="bold">
      General:
    </span>
    Git guru, Clean code enthusiat, VI typist, Software bookworm, Server environment navigator, Open-Source enjoyer,
    linter advocate, web security defender
  </li>
  <li>
    <span class="bold">
      Backend:
    </span>
    SQL fundamentals, RESTful, Fullstack out-of-practice
  </li>
</ul>