@use "../../variables.scss" as variables;

:host {
	max-width: 600px;
}

li {
	padding: 1rem;
}

li::marker {
	color: variables.$mainColor;
	content: ">";
	font-size: large;
	font-weight: 900;
	font-family: monospace;
	font-size: 1.3rem;
}

ul {
	padding-left: 1rem;
}
