@use "../../variables.scss" as variables;

:host {
	max-width: 600px;
}

li:not(:last-child) {
	padding-bottom: 1rem;
}

li {
	padding-left: 1rem;
	list-style-type: ">";
}

li::marker {
	color: variables.$mainColor;
	font-size: large;
	font-weight: 900;
	font-family: monospace;
	font-size: 1.3rem;
}

ul {
	padding-left: 1rem;
}

p {
	margin: 0;
}
